$btn-size: 25px;

.zoomBtn{
    font-family: "National Park", Arial, sans-serif;
    height: $btn-size;
    width: $btn-size;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--gray);
    color: black;
    opacity: 0.4;

    &:active{
        transition: all .5 ease-in;

        opacity:1;
        background:none;
    }
}

