.mural{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar{
      visibility: hidden;
    }

    .content{
      width:100%;
      transition: transform 0.5s;
      transform-origin: top left;
      display: grid;
      align-items: center;

      .post {
        display: flex;
        aspect-ratio: var(--aspect-ratio-img);
        
        img{
          width: 100%;
          object-fit: contain;
        }
      }
    }

}






