.mural{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
     touch-action: pan-x pan-y; // permite o scroll
    // overscroll-behavior: contain; // evita scroll de fundo

    &::-webkit-scrollbar{
      visibility: hidden;
    }

    .content{
      width:100%;
      max-height:90dvh;
      transition: transform 0.5s;
      transform-origin: top left;
      display: grid;
      align-items: center;
      // touch-action: manipulation;
      // height:fit-content;
      touch-action: pan-x pan-y;

      .post {
        display: flex;
        height: 100%;
        aspect-ratio: var(--aspect-ratio-img);
        
        img{
          width: 100%;
          object-fit: contain;
        }
      }
    }

}

@media (max-height:444px){
  .mural{
    .content{
      max-height: 300px;
    }
  }
}






