.toolBar{
    margin: auto;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 10px 16px;
    // border:1px solid;
    background-color: var(--medium-gray);
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}