.choiceBtnProportions {
    width: 90%;
}

.choiceBtnAlignment {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.choiceBtnAppearance {
    /* font:; */
    border-radius: 2%; 
    cursor: pointer;   
}

